.main {
    height : 100vh;
}
  
.body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
}
  
#main_holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}
  
#signin_error_msg_holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
#signin_error_msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}
  
#error_msg_second_line {
    display: block;
}
  
#signin_form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
.signin_form_field::placeholder {
    color: #3a3a3a;
}
  
.signin_form_field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}
  
#submit_button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #3a3a3a;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 83%;
    border: 1px solid #3a3a3a;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}