
.sellshirts {
    background-color: bisque;
    
}


.sell_football_shirts {
    margin : 0 auto;
    font-weight: bold;
}

.sell_btn {
    border : 1px solid black;
    color : white;
    background-color : black;
    padding : 10px;
    font-weight: bold;
    border :none;
}

.sell_cancelBtn {
    border : 1px solid black;
    color : white;  
    background-color : black;
    padding : 10px;
    font-weight: bold;
    border :none;
}

.sell_contents_text {
    text-align: left;
    font-weight: bold;
}

/* #AccountBtn {
    border : 1px solid black;
    color : white;  
    background-color : skyblue;
    padding : 10px;
    width : 500px;
    margin : 0px;
    
} */

