/* basic setting ( all reset ) */
* {
    margin : 0;
    padding : 0;
    font-family : 'Poppins', sans-serif;
}

body {
    font-family : sans-serif;
    font-family : sans-serif;
}

li {
    list-style : none;
}

a {
    text-decoration : none;
    color : black;
    font-weight : bold;
    font-size : 15px;
}

img {
    border : 0;
}

/* header 
*  align : center
*/

.header {
    min-height : 100vh;
    width : 100%;
    background-image : linear-gradient(rgba(10, 10, 30, 0.2), rgba(10, 10, 30, 0.2)), url(../images/img-2.jpg);
    background-position : center;
    background-size : cover;
    position : relative;
}   

.text-box {
    width : 100%;
    color : #fff;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    text-align : center;
}

.text-box h1 {
    font-size : 70px;
}

.text-box h2 {
    margin : 30px 0 30px;
    color : #fff;
}


.row {
    display : flex;
    justify-content : space-between;
}

/* experience */
.experience {
    width : 80%;
    margin : auto;
    text-align : center;
    padding-top : 120px;
    margin-bottom : 100px;
}