* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;



    /* text-decoration : none;
    color : black;
    font-weight : bold;
    font-size : 15px; */



}
.reports,
.products,
.team,
.reports,
.home,
.services,
.Help,
.contact-us,
.marketing,
.consulting,
.side1,
.side2,
.side3 {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
